# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/

# Compiled binary addons (Node-gyp)
build/
